<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <form th:action="@{/admin/home}" method="get">
        <button class="btn btn-md btn-warning btn-block"
                type="Submit" style="font-size: 20px">
            Back To Home</button>
    </form>
    <div class="row">
        <div class="col-md-3">
            <h1>All Post</h1>
        </div>
    </div>
    <div class="User" th:each="user:${alluser}">
        <div>
            <a th:text="${user.name}"
                th:href="@{'/blog/' + ${user.id}}"
               style="font-size: 30px;color: #004080">User</a>
        </div>
        <div class="Post" th:each="post:${user.posts}">
            <div class="row" th:if="${post.id}">
                <h1 th:text="${post.title}" style="font-size: 30px;color: #004080">Title</h1>
            </div>
            <div th:text="'Created : ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')} + ' by '">Created by</div>
            <div><a th:text="${post.user.name}" th:href="@{'/blog/' + ${post.user.id}}">User</a></div>
            <h3 th:text="${post.body}">Body</h3>
        </div>

    </div>

</div>
<!-- /.container -->


</body>
</html>