<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="container">
        <!--Post-->
        <div class="Post">
            <h1 th:text="${post.title}">Title</h1>
            <!-- Show when pincipal user is admin or owner of this post-->
            <div class="row" th:if="${checkValid == true}">
                <div class="col-md-1">
                    <form action="#" th:action="@{'/delpost/{id}'(id=${post.id})}" th:method="delete"
                          class="form-inline ">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn  btn-link" th:text=" Delete">Delete</button>
                    </form>
                </div>
                <div class="col-md-1">
                    <form action="#" th:action="@{'/editpost/{id}'(id=${post.id})}" th:method="get"
                          class="form-inline">
                        <input type="hidden" name="_method" value="get"/>
                        <button type="submit" class="btn  btn-link" th:text=" Edit">Edit</button>
                    </form>
                </div>
            </div>
            <div th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')} + ' by '">Created by</div>
            <div><a th:text="${post.user.name}" th:href="@{'/blog/' + ${post.user.id}}">User</a></div>
            <h3 th:text="${post.body}">Body</h3>
        </div>
        <!--Comment -->
        <h3>Comment :</h3>
        <div class="comment" th:each="comment : ${post.comments}">
            <h3 th:text="${comment.body}">Body</h3>
            <div th:text="'Created: ' + ${#dates.format(comment.createDate, 'dd-MMM-yyyy')} + ' by '">
                Created by
            </div>
            <div><a th:text="${comment.user.name}" th:href="@{'/blog/' + ${comment.user.id}}">User</a>
            </div>
        </div>
        <!--Write comment-->
        <div class="container">

            <div class="row" style="margin-top:20px">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form autocomplete="off" th:action="@{'/post/{id}'(id=${post.id})}"
                          th:object="${comment}" method="post" role="form">

                        <h2 class="text-center">Write new comment</h2>

                        <div class="form-group">
                            <label th:if="${#fields.hasErrors('body')}" th:errors="*{body}"
                                   class="alert alert-danger"></label>
                            <textarea th:field="*{body}"
                                      placeholder="Body" class="form-control input-lg"/>
                        </div>

                        <input type="hidden" th:field="*{post}"/>
                        <input type="hidden" th:field="*{user}"/>
                        <input type="hidden" th:field="*{id}"/>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Comment</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
        <!--End-->
    </div>
</div>
<!-- /.container -->

</body>
</html>